.cash-deposits-container {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
}
.page-header{
  margin: 60px 0 20px;
}
.filtersWidth {
  max-width: 1000px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

.buttons {
  margin-top:20px !important;
  margin-right: -20px;
  display: flex;
  gap: 10px !important;
  height: 34px;
}
.newButton,
.findButton,
.editButton {
  background-color: #337ab7 !important;
  border-color: #2e6da4;
}
.exportButton {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: white !important;
  font-size: 14px !important;
}

.input[type=text]{
  align-items: center;
}
.search-input-container:focus-within {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
}

.search-icon{
  color: #555;
  background-color: #eee !important;
  font-size: 20px !important;
}

.search-input-container .form-control {
  border: none !important;
  padding-left: 60px;
}

table thead th {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}
.table td,
.table th {
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.basic-multi-select .select__control {
  align-content: center;
  border-radius: 4px;
  min-height: 36px;
  height: auto;
}
.basic-select .select__placeholder {
  font-size: 13px;
}
.basic-multi-select .select__control--is-focused {
  border-color: #cfcfcf !important;
  box-shadow: none;
}

.basic-multi-select .select__value-container {
  min-height: 34px;
  padding: 0 8px;
  height: auto !important;
}

.basic-multi-select .select__indicators {
  height: 34px;
}

.basic-multi-select .select__menu {
  margin: 0;
}

.basic-multi-select .select__menu-list {
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}
.basic-multi-select .select__option {
  padding: 4px 8px;
  height: 30px;
}