.cash-deposits-container {
  width: 100%;
  margin: 0 auto;
}

.filtersWidth {
  max-width: 1000px;
}
.buttons {
  display: flex;
  gap: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

.new-button,
.export-button {
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.newButton,
.findButton,
.editButton {
  background-color: #337ab7 !important;
  border-color: #2e6da4;
  height: 35px;
}
.exportButton {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: white !important;
}
.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out;
  overflow: hidden;
}
.search-input-container:focus-within {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
}

.left-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.left-icon svg {
  color: #555;
  background-color: #eee;
  height: 100%;
  font-size: 45px;
  padding: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: 1px solid #ccc;
}

.search-input-container .form-control {
  border: none !important;
  padding-left: 60px;
}

table thead th {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}
.table td,
.table th {
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.basic-multi-select .select__control {
  align-content: center;
  border-radius: 4px;
  min-height: 38px;
  height: auto;
}

.basic-multi-select .select__control--is-focused {
  border-color: #cfcfcf !important;
  box-shadow: none;
}

.basic-multi-select .select__value-container {
  min-height: 38px;
  padding: 0 8px;
  height: auto !important;
}

.basic-multi-select .select__indicators {
  height: 38px;
}

.basic-multi-select .select__menu {
  margin: 0;
}

.basic-multi-select .select__menu-list {
  padding: 0;
}

#react-select-2-input,
#react-select-3-input,
#react-select-4-input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
